Tuple - Immutable object

In [1]:
tup = 4,5,6

In [3]:
tup

(4, 5, 6)

In [4]:
nested_tup = (1,2,3),(2,3)

In [5]:
nested_tup

((1, 2, 3), (2, 3))

In [6]:
tup = tuple('string')

In [7]:
tuple([4,0,2])

(4, 0, 2)

In [10]:
tup[0]

's'

In [11]:
tup = tuple(['foo',[1,2],True])

In [12]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [13]:
tup[1].append(3)

In [14]:
tup

('foo', [1, 2, 3], True)

In [16]:
(4,None,'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [17]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Unpacking tuples

In [18]:
tup = (4,5,6)

In [19]:
a,b,c = tup

In [20]:
b

5

In [21]:
tup = 3,5,(4,5)

In [22]:
a,b,(c,d) = tup

In [23]:
c

4

In [27]:
tmp = a
b = a
b = a

In [28]:
a,b = 1,2

In [29]:
a,b = b,a # swap

In [30]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [31]:
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [33]:
for a in seq:
    print('a={0}'.format(a))

a=(1, 2, 3)
a=(4, 5, 6)
a=(7, 8, 9)

In [34]:
values = 1,2,3,4,5

In [35]:
type(values)

tuple

In [37]:
a,b ,*rest = values

In [38]:
a,b

(1, 2)

In [40]:
rest

[3, 4, 5]

In [41]:
a,b,*_ =values

In [42]:
_

[3, 4, 5]

tuple Method

In [45]:
a = (1,2,2,2,3,4,2)
a.count(2)

4

### List

In [52]:
a = ['1',3 , False,None]

In [58]:
tup = ('foo','buz','aaa')

In [59]:
b_list = list(tup)

In [60]:
b_list

['foo', 'buz', 'aaa']

In [61]:
b_list[1] = 'peekaboo'

In [62]:
b_list

['foo', 'peekaboo', 'aaa']

adding and removing element

In [63]:
b_list.append("dwarf")

In [64]:
b_list

['foo', 'peekaboo', 'aaa', 'dwarf']

In [65]:
b_list.insert(1,'red')

In [66]:
b_list

['foo', 'red', 'peekaboo', 'aaa', 'dwarf']

In [67]:
b_list.pop(2)

'peekaboo'

In [68]:
b_list

['foo', 'red', 'aaa', 'dwarf']

In [69]:
b_list.append('foo')

In [70]:
b_list.remove('foo')

In [71]:
b_list

['red', 'aaa', 'dwarf', 'foo']

In [72]:
"dwarf" in b_list

True

Concatenating and combining lists

In [89]:
[4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [90]:
x = [4,None,'foo']

In [91]:
x.extend([7,8,(2,3)])

In [92]:
x

[4, None, 'foo', 7, 8, (2, 3)]

Sorting

In [93]:
a = [7,2,5,1,3]

In [94]:
a.sort()

In [95]:
a

[1, 2, 3, 5, 7]

In [96]:
b = ['saw','small','He','foxes','six']

In [97]:
b.sort(key=len)

In [98]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [99]:
import bisect

In [100]:
c = [1,2,2,2,3,4,7]

In [101]:
bisect.bisect(c,2)

4

In [102]:
bisect.insort(c,6)

In [103]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [108]:
c[0:4]

[1, 2, 2, 2]

In [109]:
c[:4]

[1, 2, 2, 2]

In [111]:
c[5:8]

[4, 6, 7]

In [112]:
c[::-1]

[7, 6, 4, 3, 2, 2, 2, 1]

In [113]:
c[5::-2]

[4, 2, 2]

Build-in Sequence Functions

Enumerate

In [114]:
for i , values in enumerate(c):
    print(i,values)

0 1
1 2
2 2
3 2
4 3
5 4
6 6
7 7

In [115]:
some_list = ['foo','bar','baz']

In [116]:
mapping = {}

In [117]:
for i , v in enumerate(some_list):
    mapping[v] = i

In [118]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

Sorted

In [119]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [121]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

Zip

In [123]:
seq1 = ['foo','bar','baz']

In [124]:
seq2 = ['one','two','three']

In [132]:
zipped = zip(seq1,seq2)

In [126]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [133]:
seq3 = [False,True]

In [134]:
zipped = zip(seq1,seq2,seq3)

In [135]:
list(zipped)

[('foo', 'one', False), ('bar', 'two', True)]

reversed

In [2]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Dict

In [ ]:
empyt_dict = {}

In [2]:
d1 = {'a':'some value','b':[1,2,3,4]}

In [3]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [4]:
d1[4] = "Another Value"

In [5]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 4: 'Another Value'}

In [7]:
d1['b'][1]

2

In [9]:
"b" in d1

True

In [10]:
d1[5] = 'some value'

In [11]:
d1['dummy'] = "another value"

Del comand to delete

In [12]:
del d1[5]

In [13]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 4: 'Another Value',
 'dummy': 'another value'}

Pop to remove and key value pair

In [14]:
ret = d1.pop("dummy")

In [15]:
ret

'another value'

In [16]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 4: 'Another Value'}

dict_name.keys() gives you the keys in the dict

In [18]:
list(d1.keys())

['a', 'b', 4]

dict_name.values() give you the values in the dict

In [19]:
list(d1.values())

['some value', [1, 2, 3, 4], 'Another Value']

Merge of two dictinories using Update method

In [20]:
d1.update({'b':'foo','c': 'bare'})

In [21]:
d1

{'a': 'some value', 'b': 'foo', 4: 'Another Value', 'c': 'bare'}

Creating Dictonary from sequences

In [22]:
mapping = {}
key_list =[1,2,3,4,5]
value_list = [2,3,4,5,6]
for key,values in zip(key_list, value_list):
    mapping[key] = values

In [23]:
mapping

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [24]:
mapping = dict(zip(range(5),reversed(range(5))))

In [26]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

another elegant way is dict comprehensions

In [ ]:
value = mapping.get(3,0) # if key is not present return 0

In [30]:
value

1

In [31]:
words = ['apple','bat','bar','atom','book']

In [32]:
by_letter = {}

In [34]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [35]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

setDefault method for upper example

setdefault(key, default_value) is a dictionary method that:  
If letter is already a key in by_letter, it returns the existing list.  
If letter is not present, it adds letter as a key with an empty list ([]) as the value.  
.append(word) then adds the current word to the lis

In [36]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

The Build in collection module has a usefull class called defaultdict

In [37]:
from collections import defaultdict

by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

In [38]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

Dictinory keys can't be list because keys must be hashable and list are not hashable

In [39]:
dic ={ [1,3,4] : "hi"}

TypeError: unhashable type: 'list'